/* body {
    background-color: rgb(101, 220, 244);
} */
 /*resetear estilos */
 *{
    margin: 0;
    padding: 0;
 }

 header{
    background-color: rgb(24, 2, 77);
    color: white;
    padding: 20px;
    text-align: center;

 }

 nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
    
nav ul li a{
    color: white;
    text-decoration:none;
    font: bold;
}
    


nav ul li{
    margin: 0 15px;
}
/* 
h1 {
    color: blue;
}

h2 {
    color: green;
}

h3 {
    color: orange;
}

.miestilo{
    color:rgb(2, 2, 225);

} */

/* Estilos footer */
footer{
    background-color: rgb(137, 237, 248);
    color: rgb(54, 2, 2);
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
}

.Contenido{
    padding: 40px;
    text-align: center;

}

.formulario{
    max-width: 500px;
    margin: 30px auto;
    background-color: #7ae7fa;
    padding: 20px;
    border-radius: 8px;
    
}

.formulario h2{
    margin-bottom: 15px;
    text-align: center;
}

.formulario label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.formulario input,
.formulario textarea {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #8e8e8e;
    border-radius: 6px;
    
}

.formulario button{
    margin-top: 10% ;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}

.formulario button:hover{
    background-color: rgb(248, 248, 211);
}
