

.bg-primary {
    background-color:#273666 !important;     
}

img{

    max-width: 30%;
}

.progress{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;

}

.text-primary{
    color: #f78d5f !important;
}